*{
  font-family:sans-serif;
}

.newdetails-card{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.appheading{
  font-size: 30px;
  text-align: center;
  background-color: rgb(123, 123, 240);
  padding: 20px;
  border-radius: 10px;
  color: white;

}
.inputdiv{
  display: flex;
  justify-content: center;
}
.inputnews{
  /* display: block;
  margin: 0 auto; */
  border: none;
  box-shadow: 0 0 10px rgb(161, 189, 232);
  border-radius: 20px;
  padding: 20px;
  width: 700px;
  padding: 10px;
  font-size: 25px;
  outline: none;
}
.btn-search{
 background-color: rgb(133, 133, 231);
  width: 100px;
  border: none;
  font-size: 20px;
  margin-left: 10px;
  color: white;
}